body
{
    height: 100vh;      /*강제로 세로 늘이기. vh = vertical height*/
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /*gradient 는 시작에서 끝으로 이색깔에서 저색깔로 변해가는거 */
    /*radial 이면 원형모양으로 가운데서부터 주변으로.*/
    overflow: hidden;
}
.snow
{
    width: 10px;
    height: 10px;
    opacity: 1; /*투명도 0이 투명 1이 아니고*/
    background: #fff;
    border-radius: 50%;
    animation: snowing 10s linear infinite; /*애니메이션 10초간*/
}
@keyframes snowing
{
    0%      /* 0%에서 100% 까지 시작부터 끝까지. 시작은 눈 나오고 끝은안나오고*/
    {
        opacity : 0;        /*투명도는 시작할때 0*/
        transform: translateY(0);
    }   
    20%
    {
        opacity: 1;         /*투명도 1, 나오게끔*/
        transform: translate(-15px, 20vh); /* 위치이동*/
    }
    40%
    {
        opacity: 1;
        transform: translate(15px, 40vh);
    }
    60%
    {
        opacity: 1;
        transform: translate(15px, 60vh);
    }
    80%
    {
        opacity: 1;
        transform: translate(15px, 80vh);
    }
    100%
    {
        opacity: 1;
        transform: translateY(100vh);
    }
}
.snow:nth-of-type(2n)       /*짝수번일때 만들어지는 눈의 특징*/
{
    width: 7px;
    height: 7px;
    animation-duration: 7s;
    animation-delay: 1s;
}
.snow:nth-of-type(2n+1)          /*홀수번일때 만들어지는 눈의 특징*/
{
    animation-duration: 8s;
    animation-delay: 3s;
}
.snow:nth-of-type(9n)       /*9번째 만들어지는 눈의 특징*/
{
    animation-duration: 9s;
    animation-delay: 3s;
}